<%- include('./partials/head' , {current: '/' }) %>

    <main>
        <section class="linkvraag-aanbod">
            <a class="vraagbtn" href="/vraag">Vraag insturen</a>
            <a class="aanbodbtn" href="/aanbod">Aanbod insturen</a>
        </section>

    </main>

    <%- include('./partials/foot') %>